{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}
    
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <label>Title: {{ entry_title }}</label><br>
        <input hidden name="entry_title" value="{{ entry_title }}">
        <label for="entry_content">Content: </label><br>
        <textarea name="entry_content">{{ entry_content }}</textarea><br>
        <input type="submit" value="Save">
    </form>

{% endblock %}