{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>New Page</h1>

    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% else %}
        <form action="{% url 'new' %}" method="post">
            {% csrf_token %}
            <label for="new_title">Title: </label><br>
            <input name="new_title", placeholder="Title"><br>
            <label for="new_content">Content: </label><br>
            <textarea name="new_content" placeholder="Content"></textarea><br>
            <input type="submit" value="Save">
        </form>
    {% endif %}

{% endblock %}